<div class="app-layout">
  <main class="main">
    <header>
      <h2 class="header">Settings</h2>
    </header>
  </main>
  <body>
    <p>Settings</p>
  </body>

  <footer class="footer">
    <nav class="bottom-nav">
      <div class="bottomBtn">
        <img src="../../assets/Home.svg" alt="HomeIcon" /> Home
      </div>
      <div class="bottomBtn">
        <img src="../../assets/musicNote.svg" alt="MusicIcon" />Songs
      </div>
      <div class="bottomBtn">
        <img src="../../assets/gearwheel.svg" alt="GearWheel" />Settings
      </div>
    </nav>
  </footer>
</div>
