.btnNav {
  color: white;
  height: 100vh;
  width: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.btnNav > :nth-child(1) {
  background-color: tomato;
  padding: 48px;
}

.btnNav > :nth-child(2) {
  background-color: tomato;
  padding: 48px;
}

.btnNav > :nth-child(3) {
  background-color: tomato;
  padding: 48px;
}
