<footer class="footer">
  <nav class="bottom-nav">
    <ul>
      <li class="active">
        <a href="#"
          ><img src="../../assets/svg/home.svg" alt="Home Icon" />Home</a
        >
      </li>
      <li>
        <a href="#"
          ><img src="../../assets/svg/songs.svg" alt="Songs Icon" />Songs</a
        >
      </li>
      <li>
        <a href="#"
          ><img
            src="../../assets/svg/settings.svg"
            alt="Settings Icon"
          />Settings</a
        >
      </li>
    </ul>
  </nav>
</footer>
